.App {
  display: flex;
  background: #ddd;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.messageError {
  margin-top: 20px;
  color: red;
}

@media (min-width: 1020px) {

  .statistik,
  .newZahlen {
    width: 49%;
  }
}

@media (max-width: 480px) {

  .statistik,
  .newZahlen {
    width: 100%;
  }
}